version: '3.8'
networks: 
  private:
    external:
      name: private
  web:
    external: 
      name: web
volumes:
  mysql-data:
  postgres_data:
    driver: local
 
services:
  
#---------------------
# mysql database
#--------------------- 
  mysql:
    container_name: mysql
    image: mysql:latest
    ports:
      - 3306:3306 #VM:Containter
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    networks: 
      - private
    volumes:
      - $PWD/data/sql/sql-backup/:/backup/
      - $PWD/init.sql:/docker-entrypoint-initdb/init.sql
    command: --character-set-server=utf8 --collation-server=utf8_general_ci

    
# #---------------------
# # phpmyadmin
# #---------------------  
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    depends_on:
      - mysql
    environment:
      MYSQL_USERNAME: ${MYSQL_USERNAME}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      PMA_HOST: mysql
    labels:
      - traefik.enable=true
      - "traefik.http.routers.pma.entrypoints=websecure"
      - traefik.http.routers.pma.rule=Host(`pma.dsp4-5archio19-ah-je-gh-yb.fr`)
      - "traefik.http.routers.pma.tls.certresolver=lets-encr"
    networks: 
      - private
      - web
      
     
  keycloak-db:
    image: postgres
    container_name: keycloak-db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: pwd
    networks: 
      - private
      - web
   
      
  keycloak:
    image: jboss/keycloak:13.0.1
    container_name: keycloak
    environment:
      DB_VENDOR: POSTGRES
      DB_ADDR: keycloak-db
      DB_DATABASE: keycloak
      DB_USER: keycloak
      DB_PASSWORD: pwd
      KEYCLOAK_USER: keycloak
      KEYCLOAK_PASSWORD: pwd
      PROXY_ADDRESS_FORWARDING: "true"
    ports:
      - 8081:8080
    depends_on:
      - keycloak-db 
    networks: 
      - private
      - web
    labels:
      - traefik.enable=true
      - "traefik.http.routers.keycloak.entrypoints=websecure"
      - traefik.http.routers.keycloak.rule=Host(`key.dsp4-5archio19-ah-je-gh-yb.fr`) 
      - "traefik.http.routers.keycloak.tls.certresolver=lets-encr"
      - traefik.http.routers.keycloak.middlewares=corsheaders
    
      
#---------------------
# api
#---------------------
  api:
    build:
      context: .
      args:
        - PATH_OF_WAR=${PATH_OF_WAR}
    image: ${ENV}-api
    container_name: ${ENV}-api
    depends_on:
      - mysql
    environment:
      spring.datasource.username: ${MYSQL_USERNAME}
      spring.datasource.password: ${MYSQL_ROOT_PASSWORD}
      spring.profiles.active: ${ENV}
      spring.datasource.url: jdbc:mysql://mysql:3306/${MYSQL_DATABASE}?serverTimezone=Europe/Berlin
      server.port: 80
    labels:
      - traefik.enable=true
      - "traefik.http.routers.docker-api.entrypoints=websecure"
      - traefik.http.routers.docker-api.rule=Host(`${SUB_DOMAIN}.dsp4-5archio19-ah-je-gh-yb.fr`) 
      - traefik.http.services.docker-api.loadbalancer.server.port=80
      - "traefik.http.routers.docker-api.tls.certresolver=lets-encr"
      #prochaine ligne est peut etre inutile
      - traefik.http.routers.docker-api.middlewares=corsheaders
    networks: 
      - private
      - web
      
      
      